* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    /* Só pra ter certeza que não vai ter um scroll maldito*/
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(200px, 40%, 500px);
    overflow-wrap: break-word;
    padding: 1rem;
    border-radius: 5px;
    gap: 1.2rem;
    transition: transform 0.4s ease;
}

.card:hover{
    transform: translateY(-5px)
}

button {
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 10rem;
    height: 3rem;
    transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    transform: scale(1.1);
}

button:active {
    transform: scale(0.8);
}