table {
    border-collapse: collapse;
    width: 400px;
}

tr,
th,
td {
    border: 1px solid black;
    text-align: center;
}

thead th {
    color: white;
    text-shadow: 2px 2px 0 #000; 
    background-color: lightgray;

}

th[scope="col"],
th[scope="col"]+td {
    background-color: lightgray;
    text-shadow: 2px 2px 0 #000;
    color: rgb(255, 251, 251);
}