* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-da-pagina: #0d0d0d;
    --fundo-navbar-footer: #111111;
    --fundo-cards: #161616;
    --borda-dos-cards: #2a2a2a;
    --roxo-destaque: #7c3aed;
    --roxo-escuro: #1e0d40;
    --texto-branco: #ffffff;
    --texto-cinza-claro: #aaaaaa;
    --texto-cinza-descricao: #666666;
    --borda-sutil: #222222;
}

header{
    display: flex;
    justify-content: space-around;
}
