*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}
.container{
    width: 50%;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 60px;
    
}


.item:nth-child(1){
    background-color: rgb(224, 5, 5);
}
.item:nth-child(2){
    background-color: rgb(19, 43, 43);
}
.item:nth-child(3){
    background-color: rgb(95, 63, 63);
}