* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;         
    justify-content: center;
    align-items: center;    
    height: 100vh;        
    background-color: rgb(0, 0, 0);
}

.dado {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(190, 26, 26);
    color: white;
    gap: 1rem;
}

.coluna1,.coluna3{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.circulo {
    width: 20px;
    text-align: center;
    background-color: black;
    height: 20px;
    border-radius: 50%;
}