* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100%;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    border: 5px dotted black;
    gap: 1rem;
}


.item {
    border: 5px dotted black;
    width: 100px;
    height: 100px;
}