*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
}

.item{
    height: 200px;
    min-width: 200px;
    text-align: center;
    align-content: center;
    background-color: aqua;
    
}